{% extends 'default.html' %}
{% load static %}

{% block main %}
<div class="jumbotron">
  <div class="row">
    <!--TODO: Add image-->
    <!-- <div class="col-sm-3" style="background-color:lightblue;">
      <img src="{% static 'images/joel_potrait.png' %}" class="img-thumbnail" alt="Joel Kinny" width="200" height="300">
    </div> -->
    <div class="col-sm-9" style="background-color:lightblue;">
      <h2>Joel Kinny</h2>
      <br>
      <br>
      <p>Joel is a Computer Engineering student at Rutgers. He has strong interests in Machine Learning, Distributed Computing</p>
    </div>
  </div>
</div>

{% endblock %}